/* 
====================================================================
|                 SYSTEM CONFIGURATION
====================================================================
*/
includeConfig 'conf/base.config' 
includeConfig 'conf/modules.config' 

/* 
====================================================================
|                 WORKFLOW INPUT PARAMETERS
====================================================================
*/
params {
  /* */
  protocol_template_dir = "${baseDir}/assets/protocols"

  /* */
  transformation_config = "${baseDir}/assets/testdata/transformation-parameters.json"
  transformation_data = "${baseDir}/assets/testdata/transformation-data.csv"

  /* */
  spotting_config = "${baseDir}/assets/testdata/spotting-parameters.json"
  spotting_data = "${baseDir}/assets/testdata/spotting-data.csv"

  /* */
  resultsDir = "./results/"
}

process.container = 'ghcr.io/stracquadaniolab/opentrons:latest'