params {
    csvFile = "testdata/transformation-data.csv"
    jsonFile = "testdata/transformation-parameters.json"
    templateFile = "bin/protocol-templates/transformation-template.py"
    instructionsFile = "bin/transformation-instructions.R"
    labwareFolder = "testdata/labware"
    resultsDir = "./results"
}

includeCongif = 'conf/base.config'
