params {
  
  protocol_template_dir = "${baseDir}/assets/protocols"
  opentrons_labware_dir = "${baseDir}/assets/labware"

  protocol_1_config = "${baseDir}/assets/testdata/protocol-1-config.json"
  protocol_1_data = "${baseDir}/assets/testdata/protocol-1-data.csv"

  protocol_2_config = "${baseDir}/assets/testdata/protocol-2-config.json"
  protocol_2_data = "${baseDir}/assets/testdata/protocol-2-data.csv"

  protocol_3_config = "${baseDir}/assets/testdata/protocol-3-config.json"
  protocol_3_data = "${baseDir}/assets/testdata/protocol-3-data.csv"

  resultsDir = "./results/"
}

includeConfig = 'conf/base.config'
